Fred.ImportExport/Fred.ImportExport.DataAccess.ExternalService/Web References/PersonnelManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/PersonnelManager/PersonnelManagerOut.xsd" xmlns:tns="http://xmlns.example.com/1567776565226" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/PersonnelManager/PersonnelManagerIn.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1567776565226">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/PersonnelManager/PersonnelManagerOut.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/PersonnelManager/PersonnelManagerOut.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="PersonnelManagerOut">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code" type="xs:string"/>
                        <xs:element name="Message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/PersonnelManager/PersonnelManagerIn.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/PersonnelManager/PersonnelManagerIn.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="PersonnelManagerIn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Record" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CodeSocieteCompta" type="xs:string"/>
                                    <xs:element name="CodeEtabCompta" type="xs:string" minOccurs="0"/>
                                    <xs:element name="CodeSocietePaie" type="xs:string"/>
                                    <xs:element name="CodeEtabPaie" type="xs:string" minOccurs="0"/>
                                    <xs:element name="MatriculePersonnel" type="xs:string"/>
                                    <xs:element name="NomPersonnel" type="xs:string"/>
                                    <xs:element name="PrenomPersonnel" type="xs:string"/>
                                    <xs:element name="EmailPersonnel" type="xs:string" minOccurs="0"/>
                                    <xs:element name="IsUserFRED" type="xs:string"/>
                                    <xs:element name="LoginPersonnel" type="xs:string" minOccurs="0"/>
                                    <xs:element name="IsUserManager" type="xs:string"/>
                                    <xs:element name="CodeSocieteComptaManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="CodeEtabComptaManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="CodeSocietePaieManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="CodeEtabPaieManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="MatriculeManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="NomManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="PrenomManager" type="xs:string" minOccurs="0"/>
                                    <xs:element name="IsManagerUserFRED" type="xs:string"/>
                                    <xs:element name="LoginManager" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intfPersonnelManager-service">
        <wsdl:port name="intfwsPersonnelManagerEndpoint0" binding="tns:intfwsPersonnelManagerEndpoint0Binding">
            <soap:address location="http://frsacpvt05v.fr.rz.lan:1632/BusinessProcesses/Interfaces/intfPersonnelManager-service.serviceagent/intfwsPersonnelManagerEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="PersonnelManagerOp">
            <wsdl:input message="tns:PersonnelManagerIn"/>
            <wsdl:output message="tns:PersonnelManagerOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsPersonnelManagerEndpoint0Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PersonnelManagerOp">
            <soap:operation style="document" soapAction="/BusinessProcesses/Interfaces/intfPersonnelManager-service.serviceagent/intfwsPersonnelManagerEndpoint0/PersonnelManagerOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="PersonnelManagerIn">
        <wsdl:part name="parameters" element="ns0:PersonnelManagerIn"/>
    </wsdl:message>
    <wsdl:message name="PersonnelManagerOut">
        <wsdl:part name="parameters" element="ns1:PersonnelManagerOut"/>
    </wsdl:message>
</wsdl:definitions>