Fred.ImportExport/Fred.ImportExport.DataAccess.ExternalService/Web References/ExportMoyenPointageProxy/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fayatit.com/FRED-TIBCO/Interfaces/GestionMoyen" xmlns:ns1="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/GestionMoyen/GestionMoyenOut.xsd" xmlns:ns0="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/GestionMoyen/GestionMoyenIn.xsd" name="Untitled" targetNamespace="http://www.fayatit.com/FRED-TIBCO/Interfaces/GestionMoyen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/GestionMoyen/GestionMoyenOut.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/GestionMoyen/GestionMoyenOut.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GestionMoyenOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Code" type="xs:string" />
            <xs:element name="Message" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/GestionMoyen/GestionMoyenIn.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/Compta.FRED.IO.BW/BusinessProcesses/SubProcesses/GestionMoyen/GestionMoyenIn.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GestionMoyenIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Record">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Annee" type="xs:string" />
                  <xs:element name="Mois" type="xs:string" />
                  <xs:element name="SocieteCode" type="xs:string" />
                  <xs:element name="EtablissementComptableCode" type="xs:string" />
                  <xs:element name="MoyenCode" type="xs:string" />
                  <xs:element name="Immatriculation" type="xs:string" />
                  <xs:element name="Commentaire" type="xs:string" />
                  <xs:element name="ConducteurSociete" type="xs:string" />
                  <xs:element name="ConducteurMatricule" type="xs:string" />
                  <xs:element name="ConducteurNom" type="xs:string" />
                  <xs:element name="ConducteurPrenom" type="xs:string" />
                  <xs:element name="SocieteCi" type="xs:string" />
                  <xs:element name="EtablissementComptableCi" type="xs:string" />
                  <xs:element name="CiCode" type="xs:string" />
                  <xs:element name="PersonnelSociete" type="xs:string" />
                  <xs:element name="PersonnelMatricule" type="xs:string" />
                  <xs:element name="PersonnelNom" type="xs:string" />
                  <xs:element name="PersonnelPrenom" type="xs:string" />
                  <xs:element name="DatePointage" type="xs:dateTime" />
                  <xs:element name="Quantite" type="xs:int" />
                  <xs:element name="Unite" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GestionMoyenIn">
    <wsdl:part name="parameters" element="ns0:GestionMoyenIn" />
  </wsdl:message>
  <wsdl:message name="GestionMoyenOut">
    <wsdl:part name="parameters" element="ns1:GestionMoyenOut" />
  </wsdl:message>
  <wsdl:portType name="portType">
    <wsdl:operation name="GestionMoyenOp">
      <wsdl:input message="tns:GestionMoyenIn" />
      <wsdl:output message="tns:GestionMoyenOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="intfwsGestionMoyenEndpoint0Binding" type="tns:portType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GestionMoyenOp">
      <soap:operation soapAction="/BusinessProcesses/Interfaces/GestionMoyen/intfGestionMoyen-service.serviceagent/intfwsGestionMoyenEndpoint0/GestionMoyenOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="intfGestionMoyen-service">
    <wsdl:port name="intfwsGestionMoyenEndpoint0" binding="tns:intfwsGestionMoyenEndpoint0Binding">
      <soap:address location="http://frsacpvt01v.fr.rz.lan:1631/BusinessProcesses/Interfaces/GestionMoyen/intfGestionMoyen-service.serviceagent/intfwsGestionMoyenEndpoint0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>